/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 50em) {
		.site {
			max-width: none;
			display: grid
		}

	/* App
	 **********************/
	.main-wrapper {
		display: grid;
		grid-template-columns: 15em 1fr;
	}
	}
	/* Article
	 **********************/
	.article {
		margin-left: 1em;
	}

	
	/* Bigger Screens */

	@media screen and (min-width: 65em) {
		.site {
			/*GRID*/
		}
	}
}
