/* Components */
@import url("css/reset.css");
@import url("css/accessibility.css");
@import url("css/typography.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/


/* SideMenu
 **********************/
.sideMenu {
	display: none;
}

 a.list-group-item-action.list-group-item:hover,
 a.list-group-item-action.list-group-item:focus  {
	 background-color: #b9e0fa;
	 border-color: #52a4c7;
 }

 .sideMenu-category {
	 font-weight: 700;
 }

 /* Main
 **********************/
.mainHeader-style {
	background-color: #f5f9fa;
}
.mainHeader {
	font-size: 2.2rem;
	font-weight: 600;
	padding: 1em;
}

 /* Article
 **********************/
 .article {
	 padding: 1em;
	 margin-left: 1em;
 }
 .article-title {
	padding-bottom: 0.1em;
	 border-bottom: 2px solid #52a4c7;
 }
 .article-subtitle {
	font-size: 1.3rem;
 }
.article-parameters {
	font-size: 1rem;
	color: #3d7891;
}

 /* Title of Component
 **********************/





/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 50em) {
		.site {
			max-width: none;
			display: grid
		}

	/* App
	 **********************/
	.main-wrapper {
		display: grid;
		grid-template-columns: 15em 1fr;
	}
	/* Article
	 **********************/
	.article {
		margin-left: 1em;
	}

		/* SideMenu
	**********************/
	.sideMenu {
		display: block;
	}
	/* Bigger Screens */
}

	@media screen and (min-width: 65em) {
		.site {
			/*GRID*/
		}
	}
}
