/* Components */
@import url("css/reset.css");
@import url("css/accessibility.css");
@import url("css/layout.css");
@import url("css/typography.css");

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/


/* SideMenu 
 **********************/
 a.list-group-item-action.list-group-item:hover,
 a.list-group-item-action.list-group-item:focus  {
	 background-color: #b9e0fa;
	 border-color: #52a4c7;
 }
 .sideMenu-category {
	 font-weight: 700;
 }

 /* Article 
 **********************/
 .article {
	 padding: 1em;
	 margin-left: 1em;
 }
 .article-title {
	padding-bottom: 0.1em;
	 border-bottom: 2px solid #52a4c7;
 }
 .article-subtitle {
	font-size: 1.3rem;
 }
.article-parameters {
	font-size: 1rem;
	color: #3d7891;
}
.btn-learn-more {
	color: #52a4c7;

}

 /* Title of Component
 **********************/





/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}